<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>附近人玩</string>
		<key>contents</key>
		<array>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>本地人玩</string>
		<key>contents</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>lbzrcs.jpg</string>
				<key>itemName</key>
				<string>猎豹真人CS</string>
				<key>desc</key>
				<string>打枪打枪</string>
				<key>loc</key>
				<string>苜蓿园  真人CS</string>
				<key>distance</key>
				<string>1.0km</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>zykjqps.jpg</string>
				<key>itemName</key>
				<string>自由空间棋牌室</string>
				<key>desc</key>
				<string>快乐赌博！</string>
				<key>loc</key>
				<string>瑞金路沿线  棋牌室</string>
				<key>distance</key>
				<string>1.3km</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>njxsjlb.jpg</string>
				<key>itemName</key>
				<string>南京相声俱乐部</string>
				<key>desc</key>
				<string>客官，听一曲儿吧！</string>
				<key>loc</key>
				<string>瑞金路沿线  文娱节目</string>
				<key>distance</key>
				<string>1.5km</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>老外玩</string>
		<key>contents</key>
		<array>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>电影里玩</string>
		<key>contents</key>
		<array>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
			<dict>
				<key>imageName</key>
				<string></string>
				<key>itemName</key>
				<string></string>
				<key>desc</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
